data/ 
models/ 
.env 
archive/ 
archive.zip 
conda 
git 
.ipynb_checkpoints/ 
.pytest_cache/ 

data/processed/ingested.pkl 
data/processed/labeled.pkl 
data/processed/train_engineered.csv 
data/processed/train_engineered.pkl 
data/processed/val_engineered.csv 
data/processed/val_engineered.pkl 
data/processed/test_engineered.csv 
data/processed/test_engineered.pkl 
data/processed/ingested.parquet 
data/processed/labeled.parquet 
data/processed/oof_predictions.parquet 
